* {
    font-family: 'Lilita One', cursive;
}

:root {
    --t-color1: rgba(8, 2, 25, 0.607);
    --t-color2: rgba(25, 11, 64, 0.244);
    --t-color3: rgba(233, 232, 236, 0.66);
}

.logo-nav {
    width: 4.5rem;
}

header {
    background-image: url(../imgs/bk/bk\ \(7\).png);
    background-position: center center;
    background-size: cover;
}

.head-icons-i {
    color: var(--t-color1);
    width: 1.5rem;
    height: 1.5rem;
    border: solid 1px var(--t-color2);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.sec2 {
    z-index: 9999;
    padding-right: 4rem;
}

.subtitle {
    opacity: 0.6;
    /* height: 10vh; */
}

.subtitle-name {
    font-size: 10rem;
    color: var(--t-color3);
    font-weight: 600;
    /* z-index: 45; */
}

#about {
    background-image: url(../BKS/dot-grid.png.webp);
}

.title h2 {
    font-size: 3.5rem;
    font-weight: 900;
    color: #d2d1d371;
}

.title h3 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--third-color);
}

.client-fedback {
    border: solid 5px #cecacabe;
}

.client-img {
    width: 5rem;
    border: solid 3px #f4f4f4;
    border-radius: 50%;
    transform: translateY(50%);
}

.client-fedback h6 {
    position: relative;
}

.client-fedback h6::after {
    content: "";
    height: 3px;
    position: absolute;
    width: 10%;
    background-color: var(--main-color);
    left: 45%;
    top: 100%;
}

.carousel-indicators [data-bs-target] {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-indent: 0;
    border: solid 3px #EEE;
}